body{
    padding-left: 30px;
    padding-top: 15px;

  
}
.ar{
    padding-left: 105px;
    
}
button{
    margin-left: 50px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.card-group{
    border-radius: 40px;
}